.sales-section > div {
  background-color: var(--background-containers);
  display: flex;
  border-radius: 20px;
}

.sales-section h2 {
  color: var(--secundary-color);
  text-align: center;
  margin-bottom: 1rem;
}

.sales-form {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  gap: 0.4rem;
  border-right: 2px solid var(--primary-color);
  padding: 1rem 2rem;
}

.sales-form > div {
  display: flex;
}

.sales-form > div > label {
  flex: 0.4;
}

.sales-form > div > input,
.sales-form > div > select {
  flex: 0.6;
  background-color: var(--complementary-color);
  font-size: 1rem;
}

.sales-form label {
  font-weight: 600;
}

.money-box {
  flex: 0.3;
  font-weight: 600;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.money-box h3 {
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.money-box p {
  margin-bottom: 1rem;
}